.jumbotron {
    margin-top: 0;
    margin-bottom: 50px;

    background-image: url(./grey_wash_wall.png);
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 50px;

    text-align: center;

    padding-top: 30px;
    padding-bottom: 30px;
}

.lead,
.alertText,
.score {
    font-size: 20px;
}